<form method="post" id="register-form">
    <fieldset>
        <legend>Register</legend>

        <p>
            <label for="username">Username</label>
            <input type="text" name="username" class="username" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" class="password" />
        </p>
        <p>
            <label for="retype_password">Re-type Password</label>
            <input type="password" name="retype_password" class="retype_password" />
        </p>
        <p>
            <label for="register">&nbsp;</label>
            <input type="submit" value="register" ng-click="submit()">
        </p>
    </fieldset>
</form>