<form method="post" id="login-form">
    <fieldset>
        <legend>Login</legend>

        <p>
            <label for="username">Username</label>
            <input type="text" name="username" class="username" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" class="password" />
        </p>
        <p>
            <label for="login">&nbsp;</label>
            <input type="submit" value="login" ng-click="submit()">
        </p>
    </fieldset>
</form>